<?xml version="1.0" encoding="UTF-8"?>
<PluginDefinition xmlns="http://flexagon.com/deploy/plugin">
  <Name>IntegralConfigNOWPlugin</Name>
  <PluginDisplayName>ConfigNOW</PluginDisplayName>
  <Description>A plugin to execute ConfigNOW commands</Description>
  <TechnologyGroup>Server Management</TechnologyGroup>
  <SubTechnologyGroup>ConfigNOW</SubTechnologyGroup>
  <Vendor>Integral Technology Solutions</Vendor>
  <MaxConcurrentThreads>-1</MaxConcurrentThreads>
  <Version>0.7</Version>
  <Operations>
    <Operation>
      <Name>ConfigNowCommand</Name>
      <Description>Runs ConfigNOW commands</Description>
      <Target>plugin.confignow.operations.ConfigNowCommand</Target>
      <PropertyKeys>
        <Property>FDCN_COMMAND</Property>
        <Property>FDCN_CONFIG_FILE</Property>
      </PropertyKeys>
      <Inputs>
        <AllowsUserDefined>false</AllowsUserDefined>
      </Inputs>
      <Outputs>
        <AllowsUserDefined>false</AllowsUserDefined>
      </Outputs>
      <EndPointSpecification>
        <Selection>
          <All/>
        </Selection>
        <Execution>
          <Any/>
        </Execution>
      </EndPointSpecification>
      <ConsumesArtifacts>false</ConsumesArtifacts>
      <ProducesArtifacts>true</ProducesArtifacts>
    </Operation>
  </Operations>
</PluginDefinition>