<?xml version="1.0" encoding="UTF-8"?>
<PluginDefinition xmlns="http://flexagon.com/deploy/plugin">
  <Name>IntegralConfigNOWPlugin</Name>
  <PluginDisplayName>ConfigNOW</PluginDisplayName>
  <Description>A plugin to execute ConfigNOW commands</Description>
  <TechnologyGroup>Server Management</TechnologyGroup>
  <SubTechnologyGroup>ConfigNOW</SubTechnologyGroup>
  <Vendor>Integral Technology Solutions</Vendor>
  <MaxConcurrentThreads>-1</MaxConcurrentThreads>
  <Version>0.7</Version>
  <Operations>
    <Operation>
      <Name>ConfigNowCommand</Name>
      <Description>Runs ConfigNOW commands</Description>
      <Target>plugin.confignow.operations.ConfigNowCommand</Target>
      <PropertyKeys/>
      <Inputs>
        <AllowsUserDefined>true</AllowsUserDefined>
        <Input>
          <Name>FDCN_COMMAND</Name>
          <DataType>String</DataType>
          <Description>ConfigNOW command to run</Description>
          <DisplayName>Command</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <IsRequired>true</IsRequired>
          <IsEncrypted>false</IsEncrypted>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>120</DisplayColumns>
        </Input>
        <Input>
          <Name>FDCN_ENVIRONMENT</Name>
          <DataType>String</DataType>
          <Description>The environment which is being used</Description>
          <DisplayName>Environment</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <IsRequired>true</IsRequired>
          <IsEncrypted>false</IsEncrypted>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>120</DisplayColumns>
        </Input>
        <Input>
          <Name>FDCN_CONFIG_FILE</Name>
          <DataType>String</DataType>
          <Description>The properties file to be used for performing the operation</Description>
          <DisplayName>Properties File</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <IsRequired>false</IsRequired>
          <IsEncrypted>false</IsEncrypted>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>120</DisplayColumns>
        </Input>
        <Input>
          <Name>FDCN_CONFIGURATION</Name>
          <DataType>String</DataType>
          <Description>If a custom properties file is required, add the file here</Description>
          <DisplayName>WLS Domain Path</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <IsRequired>false</IsRequired>
          <IsEncrypted>false</IsEncrypted>
          <DisplayRows>8</DisplayRows>
          <DisplayColumns>120</DisplayColumns>
        </Input>
      </Inputs>
      <Outputs>
        <AllowsUserDefined>false</AllowsUserDefined>
      </Outputs>
      <EndPointSpecification>
        <Selection>
          <All/>
        </Selection>
        <Execution>
          <Any/>
        </Execution>
      </EndPointSpecification>
      <ConsumesArtifacts>false</ConsumesArtifacts>
      <ProducesArtifacts>true</ProducesArtifacts>
    </Operation>
  </Operations>
</PluginDefinition>